body{
    padding: 1 em;
    font-family: Times New Roman;
    background: #585858;
    margin-top:2%;
    text-align: center;
}

/*Username display*/

#userDisplay {
    color: white;
    display: inline;
}

#userD {
    color: white;
    font-size: 2em;
    display: inline;
}

td img {
    max-width: 100%;
    height: auto;
}

#stkRef {
    height: 23em;
}

#productTableId{
      width: 95%;
      margin-left:auto;
      margin-right:auto;
      padding: auto;
}

#logoutId{
    position: absolute;
    margin-top: 3em;
    margin-bottom: 1em;
    right: 3em;
    width: 150px;
    height: 75px;
    font-size: 20px;
}