
html,body{
    font-family: Times New Roman;
    background: #C0C0C0;
    display: table;
    height: 100%;
    width: 100%;
    margin: auto;

}

body{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0;
}

#title{
    text-align: center;
    font-size: 3.7em;
    margin-top: 0;
}

#description{
    text-align: center;
    font-size: 2.7em;
}

#lockIcon{
    margin-bottom: 0;
}

#userLoginText{
    font-size: 2.5em;
    margin: auto;
    margin-bottom: 1.1em;
}

.loginArea{
    width: 29em;
    position: relative;
    text-align: center;
    margin:auto;
}


#usernameId, #passwordId {
    background: none;
    margin: 0.7em auto;
    text-align: center;
    border: 0.25em solid #2980b9;
    padding: 0.9em 0;
    width: 90%;
    border-radius: 5em;
    font-size: 1em;
    color: black;
    transition: 0.5s;


}

#usernameId:focus, #passwordId:focus{
    outline:none;
    border-radius: 5em;
    border: 0.25em solid black;
}


::placeholder{
    color: black;
    opacity: 60%;
    font-size: 1.6em;
}

#loginButton, #registerButton{
    margin: 1em;
    background: none;
    border: 0.25em solid green;
    border-radius: 3em;
    outline: none;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: black;
    font-size: 1em;
}

#loginButton:hover, #registerButton:hover{
    background: #E0FFFF;
}

